<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="primary" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <Console name="tasks" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="Task" level="INFO" additivity="false">
      <AppenderRef ref="tasks" />
    </Logger>
    <Logger name="eu.toolchain.exposr" level="DEBUG" additivity="false">
      <AppenderRef ref="primary" />
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="primary" />
    </Root>
  </Loggers>
</Configuration>